<launch>
	<arg name="rviz" default="true" />

  <param name="tag_size" type="double" value="0.172"/>
    <node pkg="apriltag" type="apriltag_video" name="apriltag_video" output="screen"/>

    <node pkg="apriltag" type="apriltag_demo" name="apriltag_demo" output="screen" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find apriltag)/rviz/config.rviz"  />

</launch>
